body {
    background-color: black;
    color: white;
}

body a {
    color: white;
}

body.hotdog {
    background-color: red;
    color: yellow;
}

body.hotdog a {
    color: yellow;
}

#top {
    display: flex;
}

#top img {
    filter: invert(100%);
    width: 100px;
}

#top.hotdog img {
    filter: invert(0%);
}

#hotdoginput {
    position: fixed;
    top: 20px;      
    right: 0;
    width: 50%;       
    z-index: 1000;
}

#hotdoginput label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.highlight {
    background-color: green; 
    display: inline;
}

.highlight.hotdog {
    background-color: black;
}

#cardholder {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    text-align: center;
    margin: 15px;
    width: 150px;
    background-color: white;
    color: black;
    padding: 10px;
}

.card a {
    color: black;
}

.card.hotdog {
    border-radius: 15px;
    text-align: center;
    margin: 15px;
    width: 150px;
    background-color: yellow;
    color: red;
    padding: 10px;
}

.card.hotdog a {
    color: red;
}

.card.hotdog img {
    filter: invert(100%);
}

